<template>
  <div class="container" style="line-align: 2;">
    <h1> Add Product</h1>
    <div style="width: 1000px">
    <form @submit="onSubmit" method="post" enctype="multipart/form-data">
      <div  v-if="messages.error">
         <span  style="color:red" v-text="messages.error"></span>
      </div>
      <div  v-if="messages.success">
         <span  style="color:green" v-text="messages.success"></span>
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Product Name</label>
      <input type="text" class="form-control" v-model="product.name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Price</label>
      <input type="text" class="form-control" v-model="product.price">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Description</label>
      <input type="text" class="form-control" v-model="product.description">
    </div>
    <div class="form-group">
      <label >Main Image</label>
      <input type="file" class="form-control" @change="uploadImage">
    </div>
    <div class="form-group">
      <label>Other images </label>
      <input type="file" class="form-control" multiple @change="uploadMultiImages">
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import VueAxios from 'vue-axios';
import axios from 'axios';
Vue.use(VueAxios,axios);
let formData = new FormData();

export default {
  name: "AddProduct",
  data()
  {
    return{
      product: {
        name: null,
        price: null,
        description: null,
        main_image: null,
        other_images: [],

      },
      messages: {
        error: null,
        success : null
      }
    }
  },
  methods:
  {
    uploadImage(e){
      this.product.main_image = e.target.files[0]
    },

    uploadMultiImages(e){
        for( var i = 0; i < e.target.files.length; i++ ){
          formData.append("other_images[]", e.target.files[i]);
      }
    },

    onSubmit(e)
    {
        formData.append("main_image", this.product.main_image);
        formData.append("name", this.product.name);
        formData.append("price", this.product.price);
        formData.append("description", this.product.description);
        console.log(this.product.other_images);

        this.axios.post('http://127.0.0.1:8000/api/products', formData)
        .then((result)=>{
          console.log("result", result.data);
          this.messages.success = 'Product added successfully';
        }).catch(error => {
          this.messages.error = error.response.data.message;
         });
        e.preventDefault();
    }
  }
}
</script>

<style lang="css" scoped>
</style>
