<template>
  <div class="container">
    <h1>Products List</h1>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Main Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in products" v-bind:key="item.id">
          <th scope="row">{{item.name}}</th>
          <td>{{item.price}} $</td>
          <td>{{item.description}}</td>
          <td><img :src="'http://127.0.0.1:8000/images/' + item.main_image" width="70px" height="70px"></td>
          <td>
            <router-link :to="'/product/edit/' + item.id"><button class="btn btn-primary btn-sm">Edit</button></router-link> &nbsp;
            <button class="btn btn-danger btn-sm" v-on:click="DeleteProduct(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import Vue from 'vue';
import VueAxios from 'vue-axios';
import axios from 'axios';
Vue.use(VueAxios,axios);
export default {
  name:"Products",
  data () {
  return {
    products: null
  }
},
  methods: {
    GetProducts()
    {
      Vue.axios.get('http://127.0.0.1:8000/api/products')
      .then(response => (this.products = response.data))
    },

    DeleteProduct(id)
    {
      Vue.axios.delete('http://127.0.0.1:8000/api/products/' + id)
      .then((result)=>{
        console.warn(result);
        this.GetProducts();

      })
    }
  },
  mounted()
  {
    this.GetProducts();
  }
}
</script>

<style lang="css" scoped>
</style>
