<template>
  <div class="welcome-message">
    <h2>Welcome Barca</h2>
    <p>We Are Barca</p>
  </div>
</template>
<script>
export default {
  name: "WelcomeMessage",
  props: {
    msg: String
  },
  mounted() {
    console.log(process.env.VUE_APP_ROOT_API)
  },
};
</script>
<style>
h2 {
  font-size: 40px;
}
</style>
