<template>
  <div style="line-height: 2;">
    <div id="nav" style="text-align: center;">
      <router-link to="/home" active>Home</router-link> |
      <router-link to="/product/add">AddProduct</router-link>
    </div>
    <router-view />
  </div>
</template>

<script>
  // import Products from './components/products';
  export default {
    name: "App",
    components: {
      // Products
    }
  };
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}


</style>
