<template>
 <AddProduct />
</template>

<script>
// @ is an alias to /src
import AddProduct from "@/components/AddProduct.vue";
// import jsonProducts from "http://127.0.0.1:8000/api/products";

export default {
  name: "add_product",
  components: {
    AddProduct,
  },
};
</script>
