<template>
    <EditProduct />
</template>

<script>
// @ is an alias to /src
import EditProduct from "@/components/EditProduct.vue";

export default {
  name: "edit_product",
  components: {
    EditProduct,
  },
};
</script>
