<template>
  <div class="our-help">
    <h1>Help</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatem
      itaque modi hic! Accusantium accusamus autem laborum harum nemo reiciendis
      iste reprehenderit maxime fuga, ipsa hic, aliquam vel dolorum?
      Consectetur, vero.
    </p>
  </div>
</template>

<script>
export default {
  name: "help",
};
</script>
