<template>
  <div class="home">
    <!-- <img alt="Vue logo" src="../assets/logo.png" />
    <HelloWorld msg="Welcome to Your Vue.js App" /> -->
    <products />
  </div>
</template>

<script>
// @ is an alias to /src
import products from "@/components/products.vue";

export default {
  name: "home",
  components: {
    products,
  },
};
</script>
